__pycache__/
.vscode/
docs/_build/

0.**/

logs/
dataset_json/

botium.json
client_key.json
kfold_key.json

dataset_botium/
botiumwork/
node_modules/
package-lock.json



give_me_a_picture.convo.txt

.ipynb_checkpoints/

k-fold-predictions.csv

k-fold.csv
